<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h1>HSU Tramitador</h1>
		<p>
			Tramitador simulado.
		</p>
		<p>			
			Recursos:
		</p>
		<br/><br/>
		<ul class="nav nav-pills nav-stacked">	
			<li><a class="entryMenu" href="#/tramite/">Trámites</a></li>
		
		</ul>
		<br/>
		<br/>
		<p>
			Documentación del API: <a class="" href="/api/documentation" target="_blank" >en crudo</a> o <a class="" href="http://apiexplorer.radarconline.com/?uri={{serviceUriBase}}/api/documentation&apiKey={{apikey}}"  target="_blank">API Explorer</a>.
		</p>
	</div>
	<div class="col-md-4"></div>
</div>
