<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Trámite</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="valueType">Tipo</label>
					<div id="valueType">{{tramite.type}}</div>
				</div>
				<div class="form-group">
					<label for="valueOrigin">Origen</label>
					<div id="valueOrigin">{{tramite.origin}}</div>
				</div>
				<div class="form-group">
					<label for="valueOriginId">Id de origen</label>
					<div id="valueOriginId">{{tramite.originId}}</div>
				</div>
				<div class="form-group">
					<label for="inputCreated">Creado</label>
					<div id="valueCreated">{{tramite.created}}</div>
				</div>
				<div class="form-group">
					<label for="inputLastModified">Últim modificación</label>
					<div id="valueLastModified">{{tramite.lastModified}}</div>
				</div>
				<div class="form-group">
					<label for="valueState">Estado</label>
					<div id="valueState">{{tramite.state}}</div>
				</div>
				<div class="form-group">
					<label for="valueDescription">Descripción</label>
					<div id="valueDescription">{{tramite.description}}</div>
				</div>
				<div class="form-group">
					<label for="valueAssignedTo">Asignado a</label>
					<div id="valueAssignedTo">{{tramite.assignedTo}}</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="gotoList($event)" >Atras</button>
					<button class="btn btn-primary" ng-click="edit($event)" >Editar</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
